<ion-content class="main_container">
  <ion-row class="custom_toolbar">
    <ion-toolbar color="light_background">
      <span class="header_span" routerLink="/dashboard">
        <i class="fas fa-angle-left fa-fw"></i>
      </span>
    </ion-toolbar>
  </ion-row>

  <ion-slides #slides pager="false" [options]="sliderOptions">

    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/hosp2.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/hosp1.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/1.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/2.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/3.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>
    
    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/4.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/5.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/6.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide_s">
      <ion-grid>
        <div class="img-wrapper" [style.background-image]="'url('+image_path+'/7.jpg)'">
        </div>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <div>
    <form #form_login="ngForm" class="form">
      <ion-grid>

        <h2>About Us</h2>
        <ion-row>
          <ion-col size="12">
            <p>Global dentistry is not only a firm & group of doctors (specialized dentist) but also a dream which goals
              to provide best dental treatment and facilities to the population.

              <b>Dr.satish gupta</b> (director global dentistry) gathered the finest and most qualified dentist to serve
              in this speciality dental hospital.

              GLOBAL DENTISTRY a dental Clinic is one of the finest and most advanced dental clinics in Central India.
              Located in Amravati near, its 150 km away from Nagpur and 2nd largest city of Vidarbha.

            </p>
            <p>
              <b>We Care</b>
            </p>
            <p>
              At global dentistry your smile is our top priority. We understand the complexities of dental problems and
              the absolute need to tackle them with utmost care, which is why our clinics consist of some of the most
              reputed doctors in central india and is equipped with state of the art equipment; to ensure that no stone
              is left unturned in providing patients the best healthcare facilities.
              Global dental clinic is state-of-the-art, furnished with modern equipment and with thorough attention paid
              to hygiene and sanitation. The clinic meets ISO specifications and is ergonomically designed keeping the
              patients comfort in mind. At our dental Clinic, all patients are assured of the best services in dental
              health care in a very non-stressful and comforting ambiance.
            </p>
            <p>
              <b> A REASON TO SMILE

              </b>
            </p>
            <p>
              Our highly-skilled team of professionals is dedicated to providing you with top quality and personalized
              dental care that you deserve – all under one roof.

              We are committed to making each of your dental visits exceptional and comfortable. Our doctors regularly
              attends continuing education courses and we offer only the latest modern dentistry available with
              state-of-the-art equipment and a comprehensive folder of general , restorative and cosmetic services to
              meet the needs of your entire family. We aim to help you achieve and maintain long-term dental health and
              a dazzling smile. Being specialized in dental implants & gums surgery, we have also assembled the finest
              team of dentists, specialists, dental hygienists and support staff representing General dentistry,
              implantologist, periodontist (gums specialist), Cosmetic dentistry (Aesthetic dentistry), , Orthodontics
              (braces specialist), Oral Surgery Pedodontics (small children dentist) and Prosthodontics. .


            </p>
            <p><b>Mission</b></p>
            <p>Our mission is to develop long-term relationships with our patients and to ensure distinguished service
              through personalized, honest, ethical and informed care. We aim to help our community achieve excellent
              oral healthcare through high quality, multidisciplinary and cost efficient dental services and procedures.
            </p>
            <p>We are committed to giving exceptional care for your teeth and gums through well qualified dentists,
              offering superior service in a friendly and hygienic environment. We understand the anxiety you have to go
              through at a dental clinic. That’s why we are well equipped with the latest technologies to give you the
              best experience possible. Managed and run by experienced oral health professionals, our clinic offers
              best-in-class treatments to address your complete dental needs</p>

            <p><b>Vision</b></p>
            <p>Our vision is to become recognized as the leading dental health provider in the india.none of our patient
              should go unsatisfied and we all will always be committed to provide best possible solution of your dental
              problem.

              We provide almost all international standard dental treatment procedures at our center.
            </p>

          </ion-col>
        </ion-row>



      </ion-grid>
    </form>
  </div>
</ion-content>
