<ion-content class="main_container">
  <ion-row class="custom_toolbar">
    <ion-toolbar color="light_background">
      <span class="header_span" routerLink="/dashboard">
        <i class="fas fa-angle-left fa-fw"></i>
      </span>
    </ion-toolbar>
  </ion-row>

  <div class="image_container">
    <img src="assets/icon/undraw_Directions_re_kjxs.svg" alt="">
  </div>


  <div>
    <form #form_login="ngForm" class="form">
      <ion-grid>

        <h2>Contact Us</h2>
        <ion-row class="main_row">
          <ion-col size="2">
            <p>
              <i class="fas fa-map-marked-alt btn-success faicon fa-fw"></i>
            </p>
          </ion-col>
          <ion-col size="10">
            <b>Address 1</b>
            <ion-text color="medium">Railway Station Road, Near Rangoli Bar and Restaurant
              Khaparde Bagicha,Amravati.</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <p>
              <i class="fas fa-phone phone_icon fa-rotate-90 faicon btn-primary fa-fw"></i>
            </p>
          </ion-col>
          <ion-col size="10">
            <ion-text color="medium">+91 989 098 8672<br> 0721-2667173</ion-text>
          </ion-col>
        </ion-row> 
        
        <ion-row>
          <ion-col size="2">
            <p>
              <i class="fas fa-envelope faicon btn-warning fa-fw"></i>
            </p>
          </ion-col>
          <ion-col size="10">
            <ion-text color="medium">dr.satish.implant@gmail.com</ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="main_row">
          <ion-col size="2">
            <p>
              <i class="fas fa-map-marked-alt btn-success faicon fa-fw"></i>
            </p>
          </ion-col>
          <ion-col size="10">
            <b>Address 2</b>
            <ion-text color="medium">Near Dr. Kadu Hospital, Vivekananda Colony,
              Rukmini Nagar, Amravati.</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <p>
              <i class="fas fa-phone phone_icon fa-rotate-90 faicon btn-primary fa-fw"></i>
            </p>
          </ion-col>
          <ion-col size="10">
            <ion-text color="medium">+91 989 098 8672<br> 0721-2667173</ion-text>
          </ion-col>
        </ion-row> 
        
       

      </ion-grid>
    </form>
  </div>
</ion-content>