<ion-content class="main_container">
  <div class="image_container">
    <img src="assets/loginmg.svg" alt="">
  </div>


  <div>
    <form #form_register="ngForm" class="form">
      <ion-grid>

        <h2>New here ?</h2>
        <p>Sign up to create account</p>
        <ion-row>

                <ion-col size="6">
            <ion-item lines="none">
              <ion-label position="floating"> First Name</ion-label>
              <ion-input type="text" ngModel name="f_name" required f_name></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="f_name"> This field is required</ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-label position="floating"> Last Name</ion-label>
              <ion-input type="text" ngModel name="l_name" required l_name></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="l_name"> This field is required</ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating"> Mobile No</ion-label>
              <ion-input type="number" ngModel name="mobile" required username (ionInput)="check_exist_mobile($event)"></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="mobile"> This field is required</ion-text>
              <ion-text class="error_msg" color="danger" *ngIf="mobile_length"> Mobile number must be 10 digit.</ion-text>
              <ion-text class="error_msg" color="danger" *ngIf="mobile_no_exist"> This mobile number is already registered with us.</ion-text>

            </ion-item>
          </ion-col>

                <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating"> Email</ion-label>
              <ion-input type="text" ngModel name="email"  email></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" ngModel name="password" required></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="password"> This field is required</ion-text>
            </ion-item>
          </ion-col>

        </ion-row>


        <ion-row class="last_row">
          <ion-col size="12">
            <ion-button color="secondary" expand="block" (click)="confirm_mobile(form_register)">
              Create Account
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-button color="secondary" expand="block" fill="outline" routerLink="/login">
              Sign In
            </ion-button><br>
            <!-- <label class="remember">Don't have an account ? </label><a (click)="goTosignup()">Sign up</a> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div class="top_wave">
    <img src="assets/icon/sign_up3.svg" alt="">
  </div>

  <div class="loader" *ngIf="loader_visibility">
    <img src="assets/icon/loader.gif" alt="">
   </div>
</ion-content>
